body {
    background-color: black;
    color: white;
}

div {
    font-family: monospace, consolas, inconsolate;
}

input, input:focus {
    font-family: monospace, consolas, inconsolate;
    border: none;
    background-color: black;
    color: white;
    width: 90%;
    outline: none;
}